.about {
  width: 30vw;
  margin: 0 auto 10px auto;
}

.imgContainer {
  display: flex;
  justify-content: center;
  flex: 1;
}

.aboutImg {
  width: 300px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.aboutParagraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutParagraph h3 {
  margin: 15px 0;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutParagraph p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about .link {
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(92, 91, 91);
  margin: 30px 0;
}

.homeLink {
  font-weight: lighter;
  font-size: 1.5rem;
  border: 2px solid black;
  padding: 0 30px;
}

.homeLink:hover {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .about {
    width: 50vw;
  }
}
