.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loadMoreBtn {
  display: flex;
  margin: 20px auto 0 auto;
}


.loading {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}

.loadingImg {
  width: 100px;
  height: 100px;
}

