.header {
  z-index: 99;
  position: sticky;
  top: 0;
  padding: 25px 50px;
  margin-bottom: 40px;
  border-bottom: 1px solid gray;
  transition: all 0.5s;
}

.header.light {
  background-color: #fff;
}

.header.dark {
  background-color: #000;
}

.navigators {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigators .right {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navigators .link {
  font-size: larger;
}

.logo {
  letter-spacing: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.modeToggle {
  cursor: pointer;
}
