.postPage {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ql-syntax {
  background-color: rgb(226, 223, 223);
  color: #000;
  max-height: 850px;
  width: 400px;
  margin: 0 auto;
  overflow: scroll;
  padding: 10px;
  border-radius: 5px;
}

.dateCategory {
  font-size: larger;
  opacity: 80%;
}

.postPageImg {
  width: 70vw;
  height: 500px;
  object-fit: contain;
  margin: 50px auto;
}

.postPageTitle {
  font-size: 3.5rem;
  font-weight: 400;
  margin: 10px 0;
}

.postPageBody {
  font-size: 1.5rem;
  margin: 40px 0;
  font-weight: 300;
  line-height: 40px;
}

@media screen and (max-width: 700px) {
  .postPage {
    width: 90vw;
  }
  .postPageImg {
    width: 90vw;
    height: 400px;
  }
}
